@font-face {
  font-family: "Ubuntu",sans-serif;

}
.html {background: #444 url (../img/bg-invoice.jpg) repeat
  ; 
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5CB85C;
  text-decoration: none;
}

body {  
  position: relative;
  width: 20cm;  
  height: 27cm; 
  margin: 0 auto;padding :5px 15px 5px 15px;
  color: #555555;
  background: #FFFFFF ; 
  font-size: 12px; 
  font-family: "ubuntu",sans-serif;
}



header {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #AAAAAA;
}

.clear {
   border-bottom: 1px solid #AAAAAA;
}


#logo {
  float: left;
  margin-top: 8px;
}

#logo img {
  height: 70px;
}

#company {
  float: right;
  text-align: right;
}


#details {
  margin-bottom: 50px;
}

#client {
  padding-left: 6px;
  border-left: 6px solid #5CB85C;
  float: left;
}

#client .to {
  color: #777777;
}

h2.name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

#invoice {
  float: right;
  text-align: right;
}

#invoice h1 {
  color: #5CB85C;
  font-size: 1.6em;
  line-height: 0.5em;
  font-weight: normal;
  margin: 0  0 10px 0;
}

#invoice .date {
  font-size: 1.1em;
  color: #777777;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 4px 8px 4px 8px;
    background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
        box-shadow: inset 0 0 0 1000px #F0FFE8;

}

table th {
  white-space: nowrap;        
  font-weight: normal;
}

table td {
  text-align: right;
}

table td h3{
  color: #0C3121;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

table .no {
  color: #FFFFFF;
  font-size: 1.6em;
  background: #0C3121;
      box-shadow: inset 0 0 0 1000px #0C3121;}

}

table .desc {
  text-align: left;
}

table .unit {
  background: #DDDDDD;
    box-shadow: inset 0 0 0 1000px #ddd;}

table .qty {
}

table .total {
  background: #0C3121;
  color: #FFFFFF;
      box-shadow: inset 0 0 0 1000px #0C3121;}

}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table tbody tr:last-child td {
  border: none;
}

table tfoot td {
  padding: 10px 20px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 1.2em;
  white-space: nowrap; 
  border-top: 1px solid #AAAAAA; 
}

table tfoot tr:first-child td {
  border-top: none; 
}

table tfoot tr:last-child td {
  color: #0C3121;
  font-size: 1.4em;
  border-top: 1px solid #0C3121; 

}

table tfoot tr td:first-child {
  border: none;
}

#thanks{
  font-size: 2em;
  margin-bottom: 50px;
}

#notices{
  padding-left: 6px;
  border-left: 6px solid #0C3121;  
}

#notices .notice {
  font-size: 1.2em;
}

footer {
  color: #777777;
  width: 97%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #AAAAAA;
  padding: 8px 0;
  text-align: center;
}

