@font-face {
	font-family: 'Ubuntu';
	src: 
	url('../fonts/local/Ubuntu-R.ttf') format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: 
	url('../fonts/local/Ubuntu-B.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'Ubuntu';
	src: 
	url('../fonts/local/Ubuntu-M.ttf') format('truetype');
	font-weight: bold;
}

body{
	font-family: 'Ubuntu', sans-serif;
	background: url(../img/bg-keiskeiID.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@media (max-width:468px) {
     .kontak {display:block !important}
   }
  
 
 @media (min-width:468px) {
     .kontak {display:none !important}
   }
  


.tombol {width: 100%}
.sepuluh {font-size: 11px}
#loginBox {
	position: absolute;
	top: 60px;
	right: 10px;
	display: none;
	z-index: 29;
}

.navbar{
	padding-top: 15px;
}
.navbar-brand
{
	text-align: center;
	
	margin-top: -20px;
	margin-bottom: -20px;	
	position: absolute;
	width: 166px;
	z-index: 100;

}
 




.navbar-brand img.main-logo
{
	margin-top: -20px;
	background: #BFBFBF;
	margin-bottom: -80px;	
	border-bottom-left-radius: 50% 15% ;
	border-bottom-right-radius: 50% 15%;
	padding: 30px 10px 30px;
}
.navbar-brand h4
{
	padding-top: 5px;
	text-decoration: none;
}
.navbar-nav>li:not(:last-child)>a 
{
	color: #5b5b5b;
}
.nav > li:not(:last-child)  > a:focus,
.nav > li:not(:last-child)  > a:hover,
.navbar-nav>li:not(:last-child) >a:hover
{
	background-color: none;
	border-top: 2px solid green;
	color: green;
	font-size: 13px;
}
.navbar-nav>li.active>a
{
	background-color: none;
	border-top: 2px solid green;
	
	color: green;
	font-size: 13px;
}
.navbar-nav>li#chart>a 
{
	background-color: #75992F;
	width: 30px;
	height: 30px;
	margin: 5px;
	padding: 5px;
	border-radius: 4px;
	color: #fff;
	font-size: 20px;
}
.header-nav{
	color: green;
	background-color: #BFBFBF;
	padding: 10px 0px;
	font-size: 12px;	
}
ul.top-auth li{
	display: block;
	padding-right: 5px;
	padding-left: 5px;
	border-right: 1px solid #5b5b5b;
	float: left;
}
ul.top-auth li:last-child
{
	border-right: none;
}
ul.top-auth li a{
	text-decoration: none;
	color: green;
	font-size: 14px;
}
ul.top-auth li i{
	color: green;
}
ul.top-social{
	margin: 0px;
	padding: 0px;
}
ul.top-social li
{
	font-size: 14px;
	display: block;
	padding-right: 5px;
	padding-left: 5px;
	float: left;
}

#main-carousel
{
	border-bottom: 8px solid green;
	border-bottom-left-radius: 100% 30% ;
	border-bottom-right-radius: 100% 30%;
	border-width: 0px 3px 3px;

}
#main-carousel .carousel-inner .item
{
	border-bottom-left-radius: 100% 30% ;
	border-bottom-right-radius: 100% 30%;
	max-height: 500px;
	overflow: hidden;
}
#main-carousel .carousel-inner .item img{
	width: 100%;
	max-height: 500px;
}
#main-carousel .over-carousel
{
	color: #fff;
	text-align: left;
	text-indent: 10px;
	background-color: #33711C;
	border-bottom-left-radius: 50% 15% ;
	border-bottom-right-radius: 50% 15%;
	z-index: 100;
}
#main-carousel .over-carousel h4
{
	margin: 0px;
	padding-top: 10px;
}
#main-carousel .over-carousel ul{
	padding: 0px;
	margin: 0px;
	padding-bottom: 50px;
}
#main-carousel .over-carousel ul li i{
	color: green;
	font-size: 14px;
}
#main-carousel .over-carousel ul li{
	list-style-type: none;
	padding: 7px 0px;
	background-color: #E1E1E1;
	margin: 5px 20px;
	border-radius: 5px;
	font-size: 16px;
}

.main-our-product{
	text-align: center;
}
.main-our-product h2{
	color: #37C608;
	font-weight: bold;
}
#product-slider.owl-carousel .item
{
	background-color: #fff;
	border-bottom-left-radius: 50% 15% ;
	border-bottom-right-radius: 50% 15%;
	overflow: hidden;
	
	max-height: 150px;
	min-height: 150px;
	border: 2px #B7B7B7 solid;
	margin-bottom: 120px;
}
#product-slider.owl-carousel .owl-item
{
	padding: 20px;
	max-height: 200px;
	min-height: 200px;
	padding-bottom: 20px;
}
#product-slider.owl-carousel .item img
{
	width: 100%;
	height: auto;
	max-height: 200px;
	
}
#product-slider.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}
#product-slider.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
#product-slider.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

#product-slider.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
#product-slider.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

#product-slider.owl-theme .owl-controls .owl-page.active span,
#product-slider.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

#product-slider.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
#product-slider.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}

#product-slider .owl-item > div img {
	display: block;
	width: 100%;
	height: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom:4px;
}

#product-slider .owl-item > div{

	text-align: center;
	margin:3px;
	color: white;
	font-size:32px;
	border:1px white;
}

.wrapper-with-margin{
	margin:0px 50px;
}


#product-slider.owl-theme .owl-controls .owl-buttons div {
	position: absolute;
	/*background: */
	background: none;
	color: #000;
	font-size: 20px;
}

#product-slider.owl-theme .owl-controls .owl-buttons .owl-prev{
	left: -25px;
	top: 55px; 
}

#product-slider.owl-theme .owl-controls .owl-buttons .owl-next{
	right: -25px;
	top: 55px;
}


.widget{
	text-align: center;
	margin: 10px 0px;
}
.widget h4
{
	color: #838383;
	font-size: 23px;
}
.widget h4 i,.main-our-product h3 i
{
	font-size: 20px;
	width: 40px;
	height: 40px;
	padding: 11px;
	color: #fff;
	border-radius:50%;
	background: #39BF12;
}
.widget .widget-description
{
	text-align: left;
	min-height: 365px;
	max-height: 365px;
	margin: 0px 20px;
	padding: 25px 25px 15px;
	background-color: #ddd;
	border-bottom-left-radius: 50% 15% ;
	border-bottom-right-radius: 50% 15%;
}
.widget .widget-description img
{
	text-align: center;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

.widget-payment 
{
	padding: 10px;
}
.widget-payment img
{
	margin-left: auto;
	margin-right: auto;
	max-height:45px;
}
.btn-widget
{
	background-color:#306D1F;
	border-color:none;
	color: #fff;
	width: 100px;
	padding: 5px 10px;
}
.btn-widget:hover
{
	color: #fff;
}

.color-white{
	background-color: #fff;
}
.color-grey{
	background-color: #eee;
}
.color-keiskei-blur{
	background-color: #306D1F;
}


.bottom-menu ul{
	padding: 5px 5px 0px;
}
.bottom-menu ul li{
	display: inline-block;
	padding-right: 5px;
	border-right: 2px solid #306D1F;
	font-weight: 500;
}
.bottom-menu ul li:last-child{
	border-right: none;
}
.bottom-menu ul li a{
	color: #306D1F;
}
.footer{
	color: #fff;
	font-size: 11px;
	padding: 6px 10px 4px;
}


.banner-product
{
	min-height: 200px;
	margin-top: -10px;
	padding: 20px;
	padding-top: 30px;
	background: url('../img/Banner_All_Menu-min.jpg') repeat 100% center;
	margin-bottom: 10px;
	border-bottom-left-radius: 50% 15% ;
	border-bottom-right-radius: 50% 15%;
	border-bottom: 4px solid green;
	color: #fff;
}
.banner-product h2{
	font-size: 40px;
}
.filter-product
{
	padding: 10px 0px;
}

.container-product{
	padding-bottom: 20px;
}
.container-product .img-container
{
	border-bottom-left-radius: 50% 15% ;
	border-bottom-right-radius: 50% 15%;
	background-color: #fff;
	overflow: hidden;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border: #E2E2E2 solid 1px;
	min-height: 200px;
}
.container-product .img-container img
{
	margin-left: auto;
	margin-right: auto;
}
.container-product h4
{
	color: #38BE11;
}
.container-product h2
{
	padding: 0px;
	margin: 0px;
	color: #868686;
}


.input-group-addon.search
{
	background-color:#38BE11;
	color: #fff;
	border-top: 1px solid #38BE11;
	border-right: 1px solid #38BE11;
	border-bottom: 1px solid #38BE11;
}
.form-search .input-group-addon
{
	padding: 0px;
	border-top: 1px solid #38BE11;
	border-right: 1px solid #38BE11;
	border-bottom: 1px solid #38BE11;
	background-color:#38BE11;
}
.form-search .btn-keiskei-search
{
	border-top: 1px solid #38BE11;
	border-right: 1px solid #38BE11;
	border-bottom: 1px solid #38BE11;
	background-color:#38BE11;
	color: #fff;
	border-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}


.product-detail-container
{
	padding-top: 20px;
}

.product-detail .divider
{
	
	display: block;
	position: relative;
	padding: 0;
	margin: 8px auto;
	height: 0;
	width: 100%;
	max-height: 0;
	font-size: 1px;
	line-height: 0;
	clear: both;
	border: none;
	border-bottom: 1px solid #B9B9B9;
}
.product-detail .product-title h4
{
	padding: 0px 0px 5px 0px;
	
	font-size: 24px;
}
.product-detail-container .rate
{
	padding-left: 10px;
}
.product-detail-container .rate .star .fa-star
{
	color: #008000;
}
.product-detail-container .rate .star span
{
	font-size: 16px;
}
.product-detail .product-description p{
	margin: 0px;
	padding: 0px 0px 5px 0px;
}
.product-detail .product-description p span{
	color: #9DBE3F;
}
.product-detail .product-action h4.price
{
	font-size: 24px;
	color: #306D1F;
}
.product-detail .product-action .action-list button.btn:not(.btn-default)
{
	background-color: #306D1F;
	color: #fff;
	border-bottom: 3px solid #598106;
}
.product-detail .product-action .action-list button.btn.btn-default,
.product-detail .product-action .action-list a.btn.btn-default
{
	background-color: #E4E4E4;
	color: #B9B9B9;
	border-bottom: 3px solid #B9B9B9;
}
.product-detail-container .sidebar .sidebar-head
{
	background-color: #306D1F;
	color: #fff;
	padding: 5px;
	padding-left: 10px;
}
.product-detail-container .sidebar .sidebar-body
{
	padding: 10px;
}
.product-detail-container .sidebar .sidebar-body ul
{
	padding: 0px;
	padding-left: 10px;
	margin: 0px;
	list-style: none;
}
.product-detail-container .sidebar .sidebar-body ul li a
{
	text-decoration: none;
	color: #636363;
}
.product-detail-container .sidebar .sidebar-body ul li a:hover
{
	color: #77901A;
}
.product-detail-container .sidebar .sidebar-body ul li:hover
{
	color: #77901A;
	border-color: #77901A;
}


.product-detail-container ul.nav.nav-tabs li.active a
{
	border-radius: 0px;
	background-color: #eee;
	border-color: none;
}
.product-detail-container .tab-content .tab-pane
{
	background-color: none;
	margin-top: -10px;
	padding: 10px;
}
.product-detail-container .nav-tabs li a:hover
{
	border-bottom: none;
}
.product-detail-container .nav-tabs > li.active > a,
.product-detail-container .nav-tabs > li.active > a:hover,
.product-detail-container .nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
	border-color: none;
}
.review-detail .review-item .review-item-head span
{
	font-size: 16px;
	font-weight: 400;
}
.review-detail .review-item .review-item-body
{
	padding: 10px 0px;
}

/* Form */
.form-container
{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 5px 4px 0 0 rgba(166, 166, 166, 0.1);
	border:1px solid #e4e4e4;
	margin-bottom: 10px;
}
.form-body
{
	padding: 5px 20px;
}
.form-container .form-action
{	
	padding: 10px;
	display: inline-block;
	text-align: center;

}
.form-container .form-action .btn
{
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}
.form-container .form-action .btn-keiskei
{
	background-color: #306d1f;
	border-bottom: 3px solid #598106;
	color: #fff;
}
.btn-keiskei
{
	background-color: #306d1f;
	border-bottom: 3px solid #598106;
	color: #fff;
}
.btn-keiskei-orange
{
	background-color: #F89406;
	border-bottom: 3px solid #D1871F;
	color: #fff;
}

.btn-keiskei-grey
{
	background-color: #777;
	border-bottom: 3px solid #444;
	color: #fff;
}


.btn-keiskei-default
{
	background-color: #306d1f;
	border-bottom: 3px solid #598106;
	color: #fff;	
	margin: 3px;
}
.btn-keiskei-default:hover
{
	background-color: #265618;
	border-bottom: 3px solid #598106;
	color: #fff;	
}
.form-container .form-control:focus,
.form-container .selectize-input.focus
{
	border-color: #306d1f;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(48, 109, 31, 0.6);
}
.form-container .selectize-dropdown-content .option.active
{
	background-color: #306d1f;
	color: #fff;
}

/* Dashboard */
.member-status .unverivied
{
	color: #C91010;
}



/* ERROR */
.form-container
input.error
{
	border-color: #fc8f30;
}
label.error
{
	background: rgba(0, 0, 0, 0) url("../img/important.png") no-repeat scroll 0 0;
	color: #fc8f30 ;
	display: inline-block;
	line-height:14px;
	padding-left : 19px;
}

/* MODAL */
.modal .modal-header{
	background-color: #306d1f;
	border-bottom: 3px solid #598106;
	color: #fff;
}
.modal .modal-footer{
	border-top: 3px solid #598106;
	background-color: #306d1f;
}
/* CART */
.agen-select h5,.agen-select h4, .agen-select p{
	padding: 0px;
	margin: 0px;
}
.agen-select .radio
{
	padding-left : 10px;
	
}
.agen-select label
{
	padding-left : 10px;
}


/* Link Change */
.change-password{
	font-family: 'Ubuntu', sans-serif;
	color: green;
	text-decoration: none;
}
.change-password:hover{
	text-decoration: none;
	color: green;
}

/* */
.partner-boundary
{
	padding: 5px;
	min-height: 300px;
	max-height: 300px;
	overflow: hidden;
}
.partner-item{


}
.partner-item h5,
.partner-item p
{
	padding: 3px;
	margin: 0px;
}
.partner-item h5
{
	font-size: 14px;
}
.partner-item p
{
	font-size: 12px;
}

/* Navigasi */
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	float: right;
	background: #eee;
	border-bottom: 1px solid #fff;
	border-radius: 3px;    
}

ul.top-auth li {
	float: left;          
}

ul.top-auth #login {
	border-right: 1px solid #ddd;
	box-shadow: 1px 0 0 #fff;  
}

ul.top-auth #login-trigger,
ul.top-auth #signup a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	
	text-decoration: none;
}

ul.top-auth #signup a {
	border-radius: 0 3px 3px 0;
}

ul.top-auth #login-trigger {
	border-radius: 3px 0 0 3px;
}

ul.top-auth #login-trigger:hover,
ul.top-auth #login .active,
ul.top-auth #signup a:hover {
	
}

ul.top-auth #login-content {
	display: none;
	position: absolute;
	top: 24px;
	right: 0;
	z-index: 999;    
	background: #E1E1E1;
	background-image: linear-gradient(top, #fff, #eee);  
	padding: 15px;
	box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
	border-radius: 3px 0 3px 3px;
}

ul.top-auth li #login-content {
	right: 200px;
	width: 250px;  
}

/*--------------------*/

#inputs input {
	background: #f1f1f1;
	padding: 6px 5px;
	margin: 0 0 5px 0;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
	background-color: #fff;
	border-color: #e8c291;
	outline: none;
	box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#login #actions {
	margin: 10px 0 0 0;
}

#login #submit {    
	background-color: #d14545;
	background-image: linear-gradient(top, #e97171, #d14545);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
	border: 1px solid #7e1515;
	float: left;
	height: 30px;
	padding: 0;
	width: 100px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: #fff;
}

#login #submit:hover,
#login #submit:focus {    
	background-color: #e97171;
	background-image: linear-gradient(top, #d14545, #e97171);
} 

#login #submit:active {   
	outline: none;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;   
}

#login #submit::-moz-focus-inner {
	border: none;
}

#login label {
	float: right;
	line-height: 30px;
}

#login label input {
	position: relative;
	top: 2px;
	right: 2px;
}

div.gambar-produk {
	position: relative;
	float:left;
	margin:5px;}

	div.gambar-produk:hover input
	{
		display: block;
	}

	div.gambar-produk input {
		position:absolute;
		left: 0;
		top: 0;
		display:none;
	}

/* Blog */
.blog-item
{
	border-bottom: 1px dashed #ccc;
}


.navbar-keiskei span{
	background-color: green;
}
/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    left: 0;
}
#page-content.slide-active {
    padding-top: 0
}

.main-navbar-keiskei
{
	background-color: #E1E1E1;
	border-radius: 5px;
}

/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: green
}
.navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) { 
	.navbar{
		padding: 0px;
	}
	#top-head{
		display: none;
	}
	#slide-nav-head
	{
		background-color: #E1E1E1;
	}
	#slide-nav .container {
	    margin: 0!important;
	    padding: 0!important;
      	height:100%;
	}
	#slide-nav .navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}
	#slide-nav .navbar.slide-active {
	    position: absolute;
	    width: 80%;
	    top: -1px;
	    z-index: 1000;
	}
	#slide-nav #slidemenu {
	    background: #f7f7f7;
	    left: -100%;
	    width: 80%;
	    min-width: 0;
	    position: absolute;
	    padding-left: 0;
	    z-index: 2;
	    top: -8px;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav {
	    min-width: 0;
	    width: 100%;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
	    min-width: 0;
	    width: 80%;
	    white-space: normal;
	}
	#slide-nav {
	    border-top: 0
	}
	#slide-nav.navbar-inverse #slidemenu {
	    background: #333
	}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
	#navbar-height-col {
	    position: fixed;
	    top: 0;
	    height: 100%;
      bottom:0;
	    width: 80%;
	    left: -80%;
	    background: #f7f7f7;
	}
	#navbar-height-col.inverse {
	    background: #333;
	    z-index: 1;
	    border: 0;
	}
	#slide-nav .navbar-form {
	    width: 100%;
	    margin: 8px 0;
	    text-align: center;
	    overflow: hidden;
	    /*fast clearfixer*/
	}
	#slide-nav .navbar-form .form-control {
	    text-align: center
	}
	#slide-nav .navbar-form .btn {
	    width: 100%
	}
}
@media (min-width:768px) { 





	#page-content {
	    left: 0!important
	}
	.navbar.navbar-fixed-top.slide-active {
	    position: fixed
	}
	.navbar-header {
	    left: 0!important
	}
}

.banner-keiskei-front
{
	position:absolute; 
	top:0px;
}
.over-carousel a{

		color: green;

}

.over-carousel a:hover
{
	text-decoration: none;
	color: #444;
	overflow: hidden;
}